{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>
      {% block title %}
        Hello world!
      {% endblock %}
    </title>
    <!-- icons -->
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" />

    <!-- stile CSS -->
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header">
      <img class="img_header" alt="Logo" src="{% static 'logo-univr.png' %}" />
    </div>

    <div class="nav-bar">
      <div class="container">
        <ul class="nav">
          <li>
            <a href="{% url 'valutazioni' %}">Valutazioni</a>
          </li>
          <!-- Aggiungi altri link al menu se necessario -->
        </ul>
      </div>
    </div>
    <div id="content">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
