{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
  <head>
    <title>
      {% block title %}
        Base{% load bootstrap5 %}
        {% bootstrap_css %}
      {% endblock %}
    </title>
    <!-- icons -->
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" />
    <!-- stile CSS -->
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css" />
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .content {
        flex: 1;
      }
      .footer {
        margin-top: auto;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="id">
          {% if is_superuser %}
            <form action="/admin/" method="get">
              <button type="submit" class="btn" style="background-color: #00cc44;">Controllo Avanzato</button>
            </form>
          {% endif %}
          </br>
          {{ login }}
          <form action="/logout/" method="post">
            {% csrf_token %}
            <button type="submit" class="btn" style="background-color: #00cc44;">Logout</button>
          </form>
        </div>
        <div class="container">
          <div>
            <a href="http://www.univr.it" target="blanc"><img alt="univr" class="img-responsive, img_header" src="{% static 'logo-univr.png' %}" style="width:60px;height:60px;" /></a>
          </div>
          <div class="header-heading">
            <a href="http://www.univr.it/" target="blank">UNIVERSIT&Agrave; <br />di <strong>VERONA</strong></a>
          </div>
          <div class="header-heading">
            <a href="http://www.di.univr.it/" target="blank">Dipartimento<br />di <strong>INFORMATICA</strong></a>
          </div>
          <div class="header-heading">
            <br /><a href=""><strong>FONDO FUR</strong></a>
          </div>
        </div>
      </div>
      <div class="nav-bar">
        <div class="container">
          <ul class="nav">
            <li>
              <a href="{% url 'valutazioni' %}">Valutazioni</a>
            </li>
            {% if user.is_staff %}
              {% if valutazione.nome %}
                <li>
                  <a href="{% url 'modifica_valutazione' valutazione.nome %}">Modifica valutazione</a>
                </li>
                <li>
                  <a href="{% url 'assegnamento' valutazione.nome %}">Assegnamento valutazione</a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="content" id="content">
        {% block content %}

        {% endblock %}

        <!-- Modale -->
        <div id="aggiungiPubblicazioneModal" class="modal fade align-middle" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body" id="modalContent">
                <!-- Contenuto del modale -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer" style="margin-bottom: 0%;">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>© 2024 Università di Verona</p>
            </div>
            <div class="col-md-6">
              <p class="text-md-right">Fondo FUR</p>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS bundle (include Popper) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables JS (se necessario) -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <!-- Script personalizzato -->
    <script>
      $(document).ready(function () {
        $('#table-pubblicazioni').DataTable()
        $('#modal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var url = button.data('url') // Extract info from data-* attributes
          var modal = $(this)
          $.ajax({
            url: url,
            success: function (data) {
              modal.find('.modal-body').html(data)
            }
          })
        })
      })
    </script>
  </body>
</html>
