{% extends 'base_modal.html' %}

{% block title %}
  Aggiungi Pubblicazione
{% endblock %}

{% block content %}
  <div class="header">
    <h1>Crea nuova Pubblicazione per {{ valutazione.nome }}</h1>
  </div>

  <div class="main">
    <div class="container" style="padding: 20px;">
      <h2>Aggiungi pubblicazione</h2>
      <form id="aggiungi_pubblicazione_form" method="post" action="{% url 'aggiungi_pubblicazione' valutazione_nome=valutazione.nome docente=docente_codice_fiscale caller=caller %}">
        {% csrf_token %}
        <div style="display: flex;">
          <div style="flex: 2;">
            <div class="form-group col-md-4">
              <label for="handle" class="col-form-label">Handle*:</label>
            </br>
              <input type="text" class="form-control" name="handle" id="handle" required />
            </div>
          </br>
            <div class="form-group col-md-4">
              <label for="titolo" class="col-form-label">Titolo*:</label>
            </br>
              <input type="text" class="form-control" name="titolo" id="titolo" required />
            </div>
          </br>
            <div class="form-group col-md-4">
              <label for="anno_pubblicazione" class="col-form-label">Anno di pubblicazione*:</label>
            </br>
              <input type="text" class="form-control" name="anno_pubblicazione" id="anno_pubblicazione" required />
            </div>
          </br>
            <div class="form-group col-md-4">
              <label for="miglior_quartile" class="col-form-label">Miglior quartile*:</label>
            </br>
              <input type="text" class="form-control" name="miglior_quartile" id="miglior_quartile" required />
            </div>
          </br>
            <div class="form-group col-md-4">
              <label for="issn_isbn" class="col-form-label">ISSN o ISBN (Necessario per le riviste eccellenti):</label>
            </br>
              <input type="text" class="form-control" name="issn_isbn" id="issn_isbn" required />
            </div>
          </br>
            <div class="form-group col-md-4">
              <label for="doi" class="col-form-label">Doi:</label>
            </br>
              <input type="text" class="form-control" name="doi" id="doi" required />
            </div>
          </br>
            <div class="form-group col-md-4">
              <label for="tipologia_collezione" class="col-form-label">Tipologia collezione*:</label>
            </br>
              <input type="text" class="form-control" name="tipologia_collezione" id="tipologia_collezione" required />
            </div>
          </br>
            <div class="form-group col-md-4">
              <label for="titolo_rivista_atti" class="col-form-label">Titolo rivista o atti:</label>
            </br>
              <input type="text" class="form-control" name="titolo_rivista_atti" id="titolo_rivista_atti" required />
            </div>
          </br>
            <div class="form-group col-md-4">
              <label for="handle" class="col-form-label">Indicizzato scopus:</label>

              {{ form_aggiungi_pubblicazione.indicizzato_scopus }}
            </div>
          </br>
            <p>(I campi indicati con * sono obbligatori)</p>
          </div>

          <div style="flex: 2;">
            <div class="form-group">
              {{ form_aggiungi_pubblicazione.autori.label_tag }}
              <div style="max-height: 600px; overflow-y: auto;">{{ form_aggiungi_pubblicazione.autori }}</div>
            </div>
          </div>

          <div style="flex: 1; display: flex; align-items: center; justify-content: flex-end;">
            <button class="btn btn-primary" type="submit" style="padding: 10px 20px; font-size: 24px; border: none; border-radius: 4px; margin-top: auto; margin-bottom: auto;">Aggiungi</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Script per gestire l'invio del form tramite AJAX -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var form = document.querySelector('#aggiungi_pubblicazione_form')
      form.addEventListener('submit', function (event) {
        event.preventDefault() // Previeni il comportamento predefinito della form
    
        // Effettua una richiesta AJAX per aggiungere la pubblicazione
        fetch(form.action, {
          method: 'POST',
          body: new FormData(form),
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              // Se l'aggiunta della pubblicazione è avvenuta con successo, chiudi la finestra modale corrente
              $('#aggiungiPubblicazioneModal').modal('hide')
              location.reload() // Opzionale: Ricarica la pagina o aggiorna la tabella con i nuovi dati
            } else {
              // Gestisci eventuali errori o altre situazioni qui
              console.error("Errore durante l'aggiunta della pubblicazione")
            }
          })
          .catch((error) => {
            console.error('Si è verificato un errore:', error)
          })
      })
    })
  </script>
{% endblock %}
