{% extends 'base.html' %}
{% block title %}
  Assegnamento delle Pubblicazioni
{% endblock %}
{% block content %}
  <div class="main">
    <h1>Assegnamento delle Pubblicazioni per {{ valutazione.nome }}, {{ valutazione.anno }}</h1>
    <div style="display: flex;">
      <div style="padding: 20px;">
        <h2>Calcola assegnamento</h2>

        <form method="post" action="{% url 'assegnamento_algoritmo' valutazione.nome %}">
          {% csrf_token %}

          <button class="btn" type="submit">Calcola</button>
        </form>
      </div>
      <div style="padding: 20px;">
        <h2>Azzera assegnamento</h2>
        <form action="{% url 'azzera_assegnamento' valutazione.nome %}" method="post">
          {% csrf_token %}

          <button class="btn" type="submit">Azzera</button>
        </form>
      </div>
      <div style="padding: 20px;">
        <h2>Aggiungi pubblicazione</h2>
        <button type="button" class="btn" data-toggle="modal" data-target="#aggiungiPubblicazioneModal" onclick="loadModalContent()">Aggiungi pubblicazione</button>
      </div>
    </div>


    <div style="display: flex; padding-top: 40px;">
      <table id="table-docenti" class="table table-bordered" style=" text-align: left; width: 100%;margin: 10px;" border="1" cellpadding="2" cellspacing="2">
        <thead>
        <tr>
          <th style="vertical-align: top; text-align: left;">
            <b>Cognome e Nome</b>
          </th>
          <th style="vertical-align: top; text-align: left;">
            <b>Numero di pubblicazioni richieste</b>
          </th>
          <th style="vertical-align: top; text-align: left;">
            <b>Numero di pubblicazioni assegnate</b>
          </th>
          <th style="vertical-align: top; text-align: left;">
            <b>Numero di pubblicazioni</b>
          </th>
          <th style="vertical-align: top; text-align: left;">
            <b>Quartili selezionati</b>
          </th>
        </tr>
        </thead>
        {% for docente in informazioni_docente.docenti_info %}
          <tr>
            <td>
              <input type="checkbox" {% if docente.condizione_pubblicazioni %}checked{% endif %} disabled>
              &nbsp;
              <a href="{% url 'docente_pubblicazioni' valutazione.nome docente.codice_fiscale %}">{{ docente.cognome_nome }}</a>
            </td>
            <td>{{ docente.num_pubblicazioni_richieste }}</td>
            <td>{{ docente.num_pubblicazioni_assegnate }}</td>
            <td>{{ docente.pubblicazioni_totali }}</td>
            <td>{{ docente.quartili|join:', ' }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <script>
  function loadModalContent() {
    var url = "{% url 'aggiungi_pubblicazione_pagina' valutazione_nome=valutazione.nome caller='assegnamento' docente='admin' %}"
    fetch(url, {
      headers: {
        'X-Requested-With': 'XMLHttpRequest'
      }
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById('modalContent').innerHTML = data.html
      })
      .catch((error) => console.error('Errore nel caricamento del contenuto del modale:', error))
  }
</script>
{% endblock %}
