{% extends 'base.html' %}
{% block title %}
Vista pubblicazioni del docente
{% endblock %}
{% block content %}
<div class="main">
  <h1>Pubblicazioni di {{ docente.cognome_nome }} per {{ valutazione.nome }}, {{ valutazione.anno }}</h1>
  <h3>Pubblicazioni da selezionare: {{ num_pubblicazioni }}</h3>
  <br/>
  <div style="padding: 20px;">
    <div style="padding: 20px;">
      <h2>Aggiungi pubblicazione</h2>
      <button type="button" class="btn" data-toggle="modal" data-target="#aggiungiPubblicazioneModal" onclick="loadModalContent()">Aggiungi pubblicazione</button>
    </div>
</div>
</div>
{% if pubblicazioni_info %}
  <div style="display: flex; padding-top: 40px;">
    <form id="selezioneForm" method="post" style="display: inline;" action="{% url 'salva_selezioni' valutazione.nome docente_codice_fiscale %}">
      {% csrf_token %}
      <table id="table-docente-pubblicazione" class="table table-bordered" style=" text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
        <thead>
        <tr>
          <th style="vertical-align: top; text-align: left;"><b>Titolo</b></th>
          <th style="vertical-align: top; text-align: left;"><b>Anno di pubblicazione</b></th>
          <th style="vertical-align: top; text-align: left;"><b>Tipologia collezzione</b></th>
          <th style="vertical-align: top; text-align: left;"><b>Titolo rivista o atti</b></th>
          <th style="vertical-align: top; text-align: left;"><b>Autori</b></th>
          <th style="vertical-align: top; text-align: left;"><b>Selezionato da</b></th>
          <th style="vertical-align: top; text-align: left;"><b>Quartile</b></th>
          <th style="vertical-align: top; text-align: left;"><b>Selezione</b></th>
        </tr>
        {% for pubblicazione in pubblicazioni_info %}
        <tr>
          <td>{{ pubblicazione.titolo }}</td>
          <input type="hidden" name="titolo_pubblicazione[]" value="{{ pubblicazione.titolo }}">
          <td>{{pubblicazione.anno}}</td>
          <td>{{pubblicazione.tipologia}}</td>
          <td>{{pubblicazione.rivista}}</td>
          <td>
            {% for autore in pubblicazione.altri_autori %}
            {{ autore }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for autore in pubblicazione.altri_autori_scelta %}
            {{ autore }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>{{ pubblicazione.quartile }}</td>
          <td><input type="checkbox" name="selezione_pubblicazione[]" value="{{ pubblicazione.id }}" {% if pubblicazione.valore_scelta != 0 %}checked{% endif %}></td>
        </tr>
        {% endfor %}
      </table>
      <div style="padding-left: 20px;">
        <button type="button" class="btn" onclick="salvaSelezioni()">Salva selezioni</button>
      </div>
    </form>
    
  </div>
  {%else%}
  <p>Non ci sono pubblicazioni</p>
  {% endif %}
</div>

<script>
  function salvaSelezioni() {
      var form = document.getElementById("selezioneForm");
      var titoliPubblicazioniSelezionate = [];
  
      var checkboxes = form.querySelectorAll('input[name="selezione_pubblicazione[]"]');
      checkboxes.forEach(function(checkbox) {
          if (checkbox.checked) {
              // Se la checkbox è selezionata, aggiungi il titolo alla lista
              var titolo = checkbox.parentNode.parentNode.querySelector('td:first-child').textContent;
              titoliPubblicazioniSelezionate.push(titolo);
          }
      });
  
      // Aggiungi i titoli selezionati come campo nascosto nel form
      titoliPubblicazioniSelezionate.forEach(function(titolo) {
          var inputTitolo = document.createElement("input");
          inputTitolo.setAttribute("type", "hidden");
          inputTitolo.setAttribute("name", "titoli_pubblicazione[]");
          inputTitolo.setAttribute("value", titolo);
          form.appendChild(inputTitolo);
      });
  
      // Invia il form
      form.submit();
  }

  
    function loadModalContent() {
      var url = "{% url 'aggiungi_pubblicazione_pagina' valutazione_nome=valutazione.nome caller='docente_pubblicazione' docente=docente_codice_fiscale %}"
      fetch(url, {
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById('modalContent').innerHTML = data.html
        })
        .catch((error) => console.error('Errore nel caricamento del contenuto del modale:', error))
    }
  
  </script>
  
  
{% endblock %}



