{% extends 'base.html' %}
{% block title %}
Vista pubblicazioni del docente
{% endblock %}
{% block content %}
<div class="main">
  <h1>Pubblicazioni di {{ docente.cognome_nome }} per {{ valutazione.nome }}, {{ valutazione.anno }}</h1>
  <br/>
  <div style="padding: 20px;">
    <h2>Carica nuova pubblicazione</h2>

    <button onclick="openPopup()" class="btn">Aggiungi pubblicazione</button>

    <script>
        function openPopup() {
            var url = "{% url 'aggiungi_pubblicazione_pagina' valutazione_nome=valutazione.nome caller='modifica' docente='admin' %}";
            window.open(url, "popupWindow", "width=1800,height=800,scrollbars=yes");
        }
    </script>
</div>
</div>
  <div style="display: flex; padding-top: 40px;">
    <form id="selezioneForm" method="post" style="display: inline;" action="{% url 'salva_selezioni' valutazione.nome docente_codice_fiscale %}">
      {% csrf_token %}
      <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
        <tr>
          <td style="vertical-align: top; text-align: left;"><b>Titolo</b></td>
          <td style="vertical-align: top; text-align: left;"><b>Anno di pubblicazione</b></td>
          <td style="vertical-align: top; text-align: left;"><b>Tipologia collezzione</b></td>
          <td style="vertical-align: top; text-align: left;"><b>Titolo rivista o atti</b></td>
          <td style="vertical-align: top; text-align: left;"><b>Autori</b></td>
          <td style="vertical-align: top; text-align: left;"><b>Selezionato da</b></td>
          <td style="vertical-align: top; text-align: left;"><b>Quartile</b></td>
          <td style="vertical-align: top; text-align: left;"><b>Selezione</b></td>
        </tr>
        {% for pubblicazione in pubblicazioni_info %}
        <tr>
          <td>{{ pubblicazione.titolo }}</td>
          <input type="hidden" name="titolo_pubblicazione[]" value="{{ pubblicazione.titolo }}">
          <td>{{pubblicazione.anno}}</td>
          <td>{{pubblicazione.tipologia}}</td>
          <td>{{pubblicazione.rivista}}</td>
          <td>
            {% for autore in pubblicazione.altri_autori %}
            {{ autore }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for autore in pubblicazione.altri_autori_scelta %}
            {{ autore }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>{{ pubblicazione.quartile }}</td>
          <td><input type="checkbox" name="selezione_pubblicazione[]" value="{{ pubblicazione.id }}" {% if pubblicazione.valore_scelta != 0 %}checked{% endif %}></td>
        </tr>
        {% endfor %}
      </table>
      <div style="padding-left: 20px;">
        <button type="button" class="btn" onclick="salvaSelezioni()">Salva selezioni</button>
      </div>
    </form>
    
  </div>
</div>

<script>
  function salvaSelezioni() {
      var form = document.getElementById("selezioneForm");
      var titoliPubblicazioniSelezionate = [];
  
      var checkboxes = form.querySelectorAll('input[name="selezione_pubblicazione[]"]');
      checkboxes.forEach(function(checkbox) {
          if (checkbox.checked) {
              // Se la checkbox è selezionata, aggiungi il titolo alla lista
              var titolo = checkbox.parentNode.parentNode.querySelector('td:first-child').textContent;
              titoliPubblicazioniSelezionate.push(titolo);
          }
      });
  
      // Aggiungi i titoli selezionati come campo nascosto nel form
      titoliPubblicazioniSelezionate.forEach(function(titolo) {
          var inputTitolo = document.createElement("input");
          inputTitolo.setAttribute("type", "hidden");
          inputTitolo.setAttribute("name", "titoli_pubblicazione[]");
          inputTitolo.setAttribute("value", titolo);
          form.appendChild(inputTitolo);
      });
  
      // Invia il form
      form.submit();
  }
  </script>
  
  
{% endblock %}



