{% extends 'base.html' %}
{% block title %}
  Modifica
{% endblock %}
{% block content %}
  <div class="main">
    <h1>Modifica {{ valutazione.nome }}, {{ valutazione.anno }}. Pubblicazioni richieste per autore: {{ valutazione.numeroPubblicazioni }}</h1>
    <div style="display: flex;">
            
            <div style="padding: 20px;">
                    <h2>Cancella tutte le pubblicazioni</h2>
                    <form method="post" action="{% url 'cancella_pubblicazioni_tot' valutazione.nome%}">
                            {% csrf_token %}
                            
                            
                            <button class="btn" type="submit">Cancella</button>
                        </form>
                </div>
                <div style="padding: 20px;">
                  <h2>Carica pubblicazioni</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'caricamento_con_file' filename='temp' valutazione=valutazione.nome %}">
              {% csrf_token %}
              <label for="filename">Seleziona un file CSV:</label>
              <input type="file" name="filename" id="filename" />
              <button class="btn" type="submit">Carica</button>
            </form>
          </div>
        </div>


<div style="padding-top: 80px;">
  {% if pubblicazioni %}
  <h2>Pubblicazioni</h2>
  <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
    <tr>
      <td style="vertical-align: top; text-align: left;"><b>Titolo</b></td>
      <td style="vertical-align: top; text-align: left;"><b>Anno di pubblicazione</b></td>
      <td style="vertical-align: top; text-align: left;"><b>Miglior quartile</b></td>
      <td style="vertical-align: top; text-align: left;"><b>Numero di coautori del dipartimento</b></td>
      <td style="vertical-align: top; text-align: left;"><b>Azioni</b></td>
    </tr>
    {% for pubblicazione in pubblicazioni %}
    <tr>
      <td>{{ pubblicazione.titolo }}</td>
      <td>{{ pubblicazione.anno_pubblicazione }}</td>
      <td>{{ pubblicazione.miglior_quartile }}</td>
      <td>{{ pubblicazione.num_coautori_dip }}</td>
      <td>
        <div type="button" style="padding-left: 40px;">
          <button>Cancella</button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>Non ci sono pubblicazioni disponibili.</p>
  {% endif %}
</div>
{% endblock %}
