{% extends 'base.html' %}
{% block title %}
  Modifica
{% endblock %}
{% block content %}
  <style>
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      padding: 0.5rem 1rem;
      margin-left: 0.5rem;
      border-radius: 0.25rem;
      background-color: #008000;
      color: #fff !important;
      border: none;
      text-decoration: none;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
      background-color: #008000;
      color: #fff !important;
      border: none;
      text-decoration: none;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button:disabled {
      background-color: #e9ecef;
      color: #6c757d !important;
      border: none;
      text-decoration: none;
    }
  </style>

  <div class="main">
    <h1>Modifica {{ valutazione.nome }}, {{ valutazione.anno }}. Pubblicazioni richieste per autore: {{ valutazione.numeroPubblicazioni }}</h1>
    <div style="display: flex;">
      <div style="padding: 20px;">
        <h2>Cancella tutte le pubblicazioni</h2>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confermaCancellazioneModal">Cancella</button>
      </div>

      <div id="confermaCancellazioneModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalConfermaCancellazioneLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 60%; margin: 30px auto;">
          <div class="modal-content" style="max-height: 90vh; overflow-y: auto;">
            <div class="modal-header">
              <h5 class="modal-title" id="modalConfermaCancellazioneLabel">Conferma cancellazione</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">Sei sicuro di voler cancellare tutte le pubblicazioni?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin: 10px 20px; background-color: gray; color: white;">Annulla</button>
              <form method="post" style="display: inline;" action="{% url 'cancella_pubblicazioni_tot' valutazione.nome %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Conferma</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div style="padding: 20px;">
        <h2>Carica pubblicazioni</h2>
        <form method="post" enctype="multipart/form-data" action="{% url 'caricamento_con_file' filename='temp' valutazione=valutazione.nome %}">
          {% csrf_token %}
          <label for="filename">Seleziona un file CSV:</label>
          <input type="file" name="filename" id="filename" />
          <br />
          <button class="btn" type="submit">Carica</button>
        </form>
      </div>

      <!-- Pulsante per aprire il modale -->
      <div style="padding: 20px;">
        <h2>Aggiungi pubblicazione</h2>
        <button type="button" class="btn" data-toggle="modal" data-target="#aggiungiPubblicazioneModal" onclick="loadModalContent()">Aggiungi pubblicazione</button>
      </div>

      <div style="padding: 20px;">
        <h2>Riviste eccellenti</h2>
        <button type="button" class="btn" data-toggle="modal" data-target="#rivisteEccellentiModal" onclick="loadRivisteEccellentiModalContent()">Modifica riviste eccellenti</button>
      </div>

      <!-- Modale per riviste eccellenti -->
      <div id="rivisteEccellentiModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalRivisteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modalRivisteContent">
              <!-- Il contenuto del modale verrà caricato dinamicamente qui -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="padding-top: 80px;">
      {% if pubblicazioni_con_autori %}
        <h2>Pubblicazioni</h2>
        <table id="table-pubblicazioni" class="table table-bordered" style=" text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
          <div class="col-md-12">
            <input type="text" id="search-box" class="form-control" placeholder="Cerca..." />
          </div>
          <thead>
            <tr>
              <th style="vertical-align: top; text-align: left;" data-orderable="true">
                <b>Titolo</b>
              </th>
              <th style="vertical-align: top; text-align: left;" data-orderable="true">
                <b>Handle</b>
              </th>
              <th data-orderable="true" style="vertical-align: top; text-align: left;">
                <b>Anno di pubblicazione</b>
              </th>
              <th data-orderable="true" style="vertical-align: top; text-align: left;">
                <b>Miglior quartile</b>
              </th>
              <th style="vertical-align: top; text-align: left;" data-orderable="true">
                <b>ISSN</b>
              </th>
              <th style="vertical-align: top; text-align: left;" data-orderable="true">
                <b>Doi</b>
              </th>
              <th style="vertical-align: top; text-align: left;" data-orderable="true">
                <b>Tipologia collezione</b>
              </th>
              <th style="vertical-align: top; text-align: left;" data-orderable="true">
                <b>Titolo di rivista o atti</b>
              </th>
              <th style="vertical-align: top; text-align: left;" data-orderable="true">
                <b>Indicizzato scopus</b>
              </th>
              <th data-orderable="true" style="vertical-align: top; text-align: left;">
                <b>Numero di coautori</b>
              </th>
              <th data-orderable="true" style="vertical-align: top; text-align: left;">
                <b>Autori</b>
              </th>
              <th style="vertical-align: top; text-align: left;">
                <b>Azioni</b>
              </th>
            </tr>
          </thead>
          {% for item in pubblicazioni_con_autori %}
            <tr>
              <td>{{ item.pubblicazione.titolo }}</td>
              <td>{{ item.pubblicazione.handle }}</td>
              <td>{{ item.pubblicazione.anno_pubblicazione }}</td>
              <td>{{ item.pubblicazione.miglior_quartile }}</td>
              <td>{{ item.pubblicazione.issn_isbn }}</td>
              <td>{{ item.pubblicazione.doi }}</td>
              <td>{{ item.pubblicazione.tipologia_collezione }}</td>
              <td>{{ item.pubblicazione.titolo_rivista_atti }}</td>
              <td>{{ item.pubblicazione.indicizzato_scopus }}</td>
              <td>{{ item.pubblicazione.num_coautori_dip }}</td>
              <td>{% for autore in item.autori %}
                                {{ autore.cognome_nome }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
              <td>
                <div type="button">
                  <form method="post" action="{% url 'cancella_pubblicazione_singola' valutazione_nome=valutazione.nome pubblicazione_slug=item.pubblicazione.slug %}">
                    {% csrf_token %}
                    <button class="btn" type="submit">Cancella</button>
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Non ci sono pubblicazioni disponibili.</p>
      {% endif %}
    </div>
  </div>

  <script>
    function loadModalContent() {
      var url = "{% url 'aggiungi_pubblicazione_pagina' valutazione_nome=valutazione.nome caller='modifica' docente='admin' %}"
      fetch(url, {
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById('modalContent').innerHTML = data.html
        })
        .catch((error) => console.error('Errore nel caricamento del contenuto del modale:', error))
    }
    
    function loadRivisteEccellentiModalContent() {
      var url = "{% url 'riviste_eccellenti' valutazione_nome=valutazione.nome %}"
      fetch(url, {
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        }
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById('modalRivisteContent').innerHTML = data.html
        })
        .catch((error) => console.error('Errore nel caricamento del contenuto del modale:', error))
    }
  </script>
{% endblock %}
