{% extends 'base.html' %}
{% block title %}
  Valutazioni
{% endblock %}
{% block content %}
  <div style="display: flex;">
    <div style="flex: 3; padding: 20px;">
      <h1>Valutazioni</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="vertical-align: top; text-align: left;">
              <b>Anno</b><br />
            </th>
            <th style="vertical-align: top; text-align: left;">
              <b>Nome</b><br />
            </th>
            <th style="vertical-align: top; text-align: left;">
              <b>Numero di Pubblicazioni per autore</b><br />
            </th>
            <th style="vertical-align: top; text-align: left;">
              <b>Stato</b><br />
            </th>
            <th style="vertical-align: top; text-align: left;">
              <b>Azioni</b><br />
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Riga di una valutazione -->
          {% for valutazione in valutazioni %}
            <tr>
              <td style="vertical-align; text-align: left;">
                {{ valutazione.anno }}<br />
              </td>
              <td style="vertical-align; text-align: left;">
                {{ valutazione.nome }}<br />
              </td>
              <td style="vertical-align; text-align: left;padding-left: 5%">
                {{ valutazione.numeroPubblicazioni }}<br />
              </td>
              <td style="vertical-align; text-align: left;">
                {% if valutazione.status == 'Pubblicazioni caricate' %}
                  {{ valutazione.status }} in data {{ valutazione.dataCaricamentoPubblicazioni }}
                {% else %}
                  {{ valutazione.status }}
                {% endif %}
                <br />
              </td>
              <td style="vertical-align: top; text-align: left;">
                {% if user.is_staff %}
                  <form action="{% url 'modifica_valutazione' valutazione.nome %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Modifica</button>
                  </form>

                  <form action="{% url 'assegnamento' valutazione.nome %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Assegna Pubblicazioni</button>
                  </form>

                  <button type="button" class="btn" data-toggle="modal" data-target="#confirmDeleteModal" data-valutazione="{{ valutazione.nome }}">Cancella</button>

                  <button type="button" class="btn" data-toggle="modal" data-target="#confirmCloseModal" data-valutazione="{{ valutazione.nome }}">Chiudi</button>
                {% else %}
                  <form action="{% url 'docente_pubblicazioni' valutazione.nome cf %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Assegna Pubblicazioni</button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Sezione di caricamento dati -->
    {% if user.is_staff %}
      <div class="container mt-5" style="padding-left: 20px; margin-top: 20px; margin-right: 20px;">
        <h1>Crea Nuova Valutazione</h1>
        <form method="post" action="{% url 'crea_valutazione' %}">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="nome" class="col-form-label">Nome:</label>
              <input type="text" class="form-control" name="nome" id="nome" required />
            </div>
            <div class="form-group col-md-4">
              <label for="anno" class="col-form-label">Anno:</label>
              <input type="text" class="form-control" name="anno" id="anno" min="2000" max="9999" value="{{ current_year }}" required />
            </div>
            <div class="form-group col-md-4">
              <label for="numero_pubblicazioni" class="col-form-label">Numero di Pubblicazioni da assegnare:</label>
              <input type="text" class="form-control" name="numero_pubblicazioni" id="numero_pubblicazioni" min="0" max="999" required />
            </div>
          </div>
          <button class="btn btn-primary mt-3" type="submit">Crea Valutazione</button>
        </form>
      </div>

      <style>
        .form-group {
          display: flex;
          flex-direction: column;
        }
        
        .col-form-label {
          margin-top: 10px;
        }
        
        .form-control {
          margin-bottom: 2px;
        }
      </style>
    {% endif %}
  </div>

  <!-- Modale di conferma cancellazione -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Conferma Cancellazione</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">Sei sicuro di voler cancellare la valutazione?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
          <form id="deleteForm" action="" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Conferma</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modale di conferma chiusura -->
  <div class="modal fade" id="confirmCloseModal" tabindex="-1" role="dialog" aria-labelledby="confirmCloseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmCloseModalLabel">Conferma Chiusura</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">Vuoi confermare la selezione delle pubblicazioni?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
          <form id="closeForm" action="" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Conferma</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Funzione per impostare l'azione del form di cancellazione
    $('#confirmDeleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Bottone che ha aperto il modale
      var valutazioneNome = button.data('valutazione') // Estrapola il valore dell'attributo data-valutazione
      var modal = $(this)
      var form = modal.find('#deleteForm') // Trova il form all'interno del modale
      form.attr('action', '/url/per/cancellare/valutazione/' + valutazioneNome + '/') // Imposta l'azione del form con il nome della valutazione
    })
    
    // Funzione per impostare l'azione del form di chiusura
    $('#confirmCloseModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Bottone che ha aperto il modale
      var valutazioneNome = button.data('valutazione') // Estrapola il valore dell'attributo data-valutazione
      var modal = $(this)
      var form = modal.find('#closeForm') // Trova il form all'interno del modale
      form.attr('action', '/url/per/chiusura/valutazione/' + valutazioneNome + '/') // Imposta l'azione del form con il nome della valutazione
    })
  </script>
{% endblock %}
