{% extends 'base.html' %}
{% block title %}
  Valutazioni
{% endblock %}
{% block content %}
  <div style="display: flex;">
    <div style="flex: 3; padding: 20px;">
      <h1>Valutazioni</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="vertical-align: top; text-align: left;">
              <b>Anno</b><br />
            </th>
            <th style="vertical-align: top; text-align: left;">
              <b>Nome</b><br />
            </th>
            <th style="vertical-align: top; text-align: left;">
              <b>Numero di Pubblicazioni per autore</b><br />
            </th>
            <th style="vertical-align: top; text-align: left;">
              <b>Stato</b><br />
            </th>
            <th style="vertical-align: top; text-align: left;">
              <b>Azioni</b><br />
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Riga di una valutazione -->
          {% for valutazione in valutazioni %}
            <tr>
              <td style="vertical-align; text-align: left;">
                {{ valutazione.anno }}<br />
              </td>
              <td style="vertical-align; text-align: left;">
                {{ valutazione.nome }}<br />
              </td>
              <td style="vertical-align; text-align: center;">
                {{ valutazione.numeroPubblicazioni }}<br />
              </td>
              <td style="vertical-align; text-align: left;">
                {% if valutazione.status == 'Pubblicazioni caricate' %}
                  {{ valutazione.status }} in data {{ valutazione.dataCaricamentoPubblicazioni }}
                {% else %}
                  {{ valutazione.status }}
                {% endif %}
                <br />
              </td>
              <td style="vertical-align: top; text-align: left;">
                {% if user.is_staff %}
                  <form action="{% url 'modifica_valutazione' valutazione.nome %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Modifica</button>
                  </form>

                  <form action="{% url 'assegnamento' valutazione.nome %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Assegna Pubblicazioni</button>
                  </form>

                  <form action="{% url 'cancella_valutazione' valutazione.nome %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Cancella</button>
                  </form>

                  <form action="{% url 'chiudi_valutazione' valutazione.nome %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Chiudi</button>
                  </form>
                {% else %}
                  <form action="{% url 'docente_pubblicazioni' valutazione.nome cf %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Assegna Pubblicazioni</button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Sezione di caricamento dati -->
    {% if user.is_staff %}
      <div class="container mt-5" style="padding-left: 20px; margin-top: 20px; margin-right: 20px;">
        <h1>Crea Nuova Valutazione</h1>
        <form method="post" action="{% url 'crea_valutazione' %}">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="nome" class="col-form-label">Nome:</label>
              <input type="text" class="form-control" name="nome" id="nome" required />
            </div>
            <div class="form-group col-md-4">
              <label for="anno" class="col-form-label">Anno:</label>
              <input type="text" class="form-control" name="anno" id="anno" min="2000" max="9999" value="{{ current_year }}" required />
            </div>
            <div class="form-group col-md-4">
              <label for="numero_pubblicazioni" class="col-form-label">Numero di Pubblicazioni da assegnare:</label>
              <input type="text" class="form-control" name="numero_pubblicazioni" id="numero_pubblicazioni" min="0" max="999" required />
            </div>
          </div>
          <button class="btn btn-primary mt-3" type="submit">Crea Valutazione</button>
        </form>
      </div>

      <style>
        .form-group {
          display: flex;
          flex-direction: column;
        }
        
        .col-form-label {
          margin-top: 10px;
        }
        
        .form-control {
          margin-bottom: 2px;
        }
      </style>
    {% endif %}
  </div>
{% endblock %}
